<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel ="stylesheet" href="style" type ="text/css"  />

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <body>
        <title> {{.Artists.Name}}</title>
        <h1>{{.Artists.Name}}</h1>
        <h1><img src ="{{.Artists.Image}}"></h1><br><br>
        <h2>Members: <br> <br>
        {{range .Artists.Members}}
        {{.}} <br>
        {{end}}
    </h2><br>
        <h2>Creation Date: <br>
        {{.Artists.CreationDate}}</h2>
        <br>
        <h2>First Album:<br>
        {{.Artists.FirstAlbum}} </h2>
        <br>
        <h1>Tour dates & Locations</h1> 
        {{range $key, $value := .Relation.DatesLocations }}
            <h3>{{$key}}</h3>
            {{range $value}}
            <h2>{{.}}</h2>
        {{end}}
        {{end}}
        <br><br>
        <main>
            <header>
                <a href ="/main">
                <button type="button">Go Back</button>
                </a>
            </header>
        </main>
    </body>
</html>