html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: black;
}
h1{
    size: 400px;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
}
h2{
    text-align: center;
    color: antiquewhite;
}
h3{
    text-align: center;
    color: rgb(185, 250, 250);
    font-size: 30px;
}
h4 {
    padding: 0.5rem;
    text-align: center;
    align-items: center;
    color: antiquewhite;
    font-size: 22px;
}

header{
    align-items: center;
}
.wrapper{
    text-align: center;
}

.button{
    position: absolute;
    top: 50%;
    color: blue;
}
body{
    color: aliceblue;
}
 .container{
     padding: 3rem;
 }

 .cell{
     /* background-color: black; */
     padding: 1rem;
     align-items: center;
     text-align: center;
     color: antiquewhite;
     font-size: 22px;
 }
 .celts{
     padding: 0.5rem;
     align-items: center;
     text-align: center;
     color: aliceblue;
     font-size: 40px;
 }
 .celt{
    padding: 0.5rem;
    align-items: center;
    text-align: center;
    color: rgb(185, 250, 250);
    font-size: 30px;
 }
 .cel{
    /* background-color: black; */
    padding: 0.5rem;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    font-size: 22px;
}

 .grid {
     display: grid;
     align-items: center;
     /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
     grid-gap: 1rem;
     grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr)); /*creates resposnsive layout that changes based on side of browser */

 }
 .cell:hover{
     background-color:rgb(53, 52, 52);
     size: 250px;
     transform: scale(1.1);
 }
 /* .cel:hover{
     transform: scale(1.1);
 } */
 .celt:hover{
     transform: scale(1.1);
 }
 .celts:hover{
transform: scale(1.1);
 }
