html{
    margin: 0;
    padding: 0;
    background-color: black;
}
h1{
    font-size: 50px;
    text-align: center;
    color: aliceblue;
}
h2{
    text-align: center;
    color: antiquewhite;
}
h3{
    text-align: center;
    color: aqua;
}
header{
    align-items: center;
}

.button{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    size: 50px;
    color: blue;
}
body{
    color: aliceblue;
}
 .container{
     padding: 3rem;
 }

 .cell{
     /* background-color: black; */
     padding: 1rem;
     align-items: center;
 }
 .grid {
     display: grid;
     align-items: center;
     /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
     grid-gap: 1rem;
     grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); /*creates resposnsive layout that changes based on side of browser */

 }
 .cell:hover{
     background-color:rgb(53, 52, 52);
     size: 250px;
 }
 p3{
     align-items: center;
 }
